.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    max-width: 80%;
  }
  
  .close-button {
    float: right;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  